@media (min-width: 1025px) {
    .header {
        position: fixed;
        top: var(--gap-positive-600);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        gap: var(--gap-positive-4000);
        z-index: 1;
        transition: 500ms linear;

        .header__logo-container {
            width: 72px;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--shape-medium);
            background-color: var(--theme-surface-tint-1);
            box-shadow: var(--elevation-low);
        }

        .header__logo {
            width: var(--icon-size-large);
            height: var(--icon-size-large);
        }

        .header__open-drawer-menu {
            display: none;
        }
    }

    .header--hidden {
        opacity: 0.2;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .header {
        position: fixed;
        top: var(--gap-positive-600);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        gap: var(--gap-positive-1600);

        .header__logo-container {
            width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--shape-medium);
            background-color: var(--theme-surface-tint-1);
            box-shadow: var(--elevation-low);
        }

        .header__logo {
            width: var(--icon-size-medium);
            height: var(--icon-size-medium);
        }

        .header__open-drawer-menu {
            display: none;
        }
    }
}

@media (max-width: 640px) {
    .header {
        position: fixed;
        top: var(--gap-positive-600);
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--gap-positive-600);

        .header__logo-container {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--shape-small);
            background-color: var(--theme-surface-tint-1);
            box-shadow: var(--elevation-low);
        }

        .header__logo {
            width: var(--icon-size-small);
            height: var(--icon-size-small);
        }

        .header__open-drawer-menu {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--shape-small);
            background-color: var(--theme-surface-tint-1);
            box-shadow: var(--elevation-low);

            img {
                width: var(--icon-size-medium);
                height: var(--icon-size-medium);
            }
        }
    }
}