@import url(./typography-primitive.css);

:root {
    --typography-desktop-title-hero: var(--font-weight-bold) var(--type-scale-desktop-scale-up-5) /
        var(--type-scale-desktop-line-height) var(--font-family-brand);
    --typography-desktop-title-page: var(--font-weight-bold) var(--type-scale-desktop-scale-up-4) /
        var(--type-scale-desktop-line-height) var(--font-family-brand);
    --typography-desktop-subtitle: var(--font-weight-regular) var(--type-scale-desktop-scale-up-3) /
        var(--type-scale-desktop-line-height) var(--font-family-brand);
    --typography-desktop-heading: var(--font-weight-semibold) var(--type-scale-desktop-scale-up-2) /
        var(--type-scale-desktop-line-height) var(--font-family-brand);
    --typography-desktop-subheading: var(--font-weight-regular) var(--type-scale-desktop-scale-up-1) /
        var(--type-scale-desktop-line-height) var(--font-family-brand);
    --typography-desktop-label: var(--font-weight-semibold) var(--type-scale-desktop-root-size) /
        var(--type-scale-desktop-line-height) var(--font-family-brand);
    --typography-desktop-body: var(--font-weight-regular) var(--type-scale-desktop-root-size) /
        var(--type-scale-desktop-line-height) var(--font-family-plain);
    --typography-desktop-supporting-text: var(--font-weight-regular) var(--type-scale-desktop-scale-down-1) /
        var(--type-scale-desktop-line-height) var(--font-family-plain);

    --typography-tablet-title-hero: var(--font-weight-bold) var(--type-scale-tablet-scale-up-5) /
        var(--type-scale-tablet-line-height) var(--font-family-brand);
    --typography-tablet-title-page: var(--font-weight-bold) var(--type-scale-tablet-scale-up-4) /
        var(--type-scale-tablet-line-height) var(--font-family-brand);
    --typography-tablet-subtitle: var(--font-weight-regular) var(--type-scale-tablet-scale-up-p3) /
        var(--type-scale-tablet-line-height) var(--font-family-brand);
    --typography-tablet-heading: var(--font-weight-semibold) var(--type-scale-tablet-scale-up-2) /
        var(--type-scale-tablet-line-height) var(--font-family-brand);
    --typography-tablet-subheading: var(--font-weight-regular) var(--type-scale-tablet-scale-up-1) /
        var(--type-scale-tablet-line-height) var(--font-family-brand);
    --typography-tablet-label: var(--font-weight-semibold) var(--type-scale-tablet-root-size) /
        var(--type-scale-tablet-line-height) var(--font-family-brand);
    --typography-tablet-body: var(--font-weight-regular) var(--type-scale-tablet-scale-up-root-size) /
        var(--type-scale-tablet-line-height) var(--font-family-plain);
    --typography-tablet-supporting-text: var(--font-weight-regular) var(--type-scale-tablet-scale-scale-down-1) /
        var(--type-scale-tablet-line-height) var(--font-family-plain);

    --typography-mobile-title-hero: var(--font-weight-bold) var(--type-scale-mobile-scale-up-5) /
        var(--type-scale-mobile-line-height) var(--font-family-brand);
    --typography-mobile-title-page: var(--font-weight-bold) var(--type-scale-mobile-scale-up-4) /
        var(--type-scale-mobile-line-height) var(--font-family-brand);
    --typography-mobile-subtitle: var(--font-weight-regular) var(--type-scale-mobile-scale-up-3) /
        var(--type-scale-mobile-line-height) var(--font-family-brand);
    --typography-mobile-heading: var(--font-weight-semibold) var(--type-scale-mobile-scale-up-2) /
        var(--type-scale-mobile-line-height) var(--font-family-brand);
    --typography-mobile-subheading: var(--font-weight-regular) var(--type-scale-mobile-scale-up-1) /
        var(--type-scale-mobile-line-height) var(--font-family-brand);
    --typography-mobile-label: var(--font-weight-semibold) var(--type-scale-mobile-root-size) /
        var(--type-scale-mobile-line-height) var(--font-family-brand);
    --typography-mobile-body: var(--font-weight-regular) var(--type-scale-mobile-scale-up-root-size) /
        var(--type-scale-mobile-line-height) var(--font-family-plain);
    --typography-mobile-supporting-text: var(--font-weight-regular) var(--type-scale-mobile-scale-scale-down-1) /
        var(--type-scale-mobile-line-height) var(--font-family-plain);
}
