@media (min-width: 1025px) {
    .introduction-card {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--gap-positive-700);
        align-items: flex-end;
        padding: var(--gap-positive-600);
        border-radius: var(--shape-large);
        background-color: var(--theme-surface-tint-2);
        box-shadow: var(--elevation-low);
        align-self: flex-start;
        z-index: 0;
        transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);

        .introduction-card__figure {
            width: 100%;
            aspect-ratio: 16 / 9;
            border-radius: var(--shape-medium);
            object-fit: cover;
            object-position: top;
        }

        .introduction-card__text-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gap-positive-200);
            align-items: flex-start;
        }

        .introduction-card__title {
            font: var(--typography-desktop-heading);
            color: var(--theme-on-surface-shade-2);
        }

        .introduction-card__body {
            width: 100%;
            font: var(--typography-desktop-body);
            color: var(--theme-on-surface);
        }

        .introduction-card__resume-link {
            display: flex;
            gap: var(--gap-positive-200);
            align-items: center;
            justify-content: center;

            .resume-link__icon {
                width: var(--icon-size-small);
                height: var(--icon-size-small);
            }

            .resume-link__label {
                font: var(--typography-desktop-body);
                color: var(--theme-on-surface-shade-1);
            }
        }

        &:hover {
            scale: 1.2;
            box-shadow: var(--elevation-high);
            z-index: 1;
        }
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .introduction-card {
        box-sizing: border-box;
        width: 280px;
        display: flex;
        flex-direction: column;
        gap: var(--gap-positive-700);
        align-items: flex-end;
        padding: var(--gap-positive-600);
        border-radius: var(--shape-large);
        background-color: var(--theme-surface-tint-2);
        box-shadow: var(--elevation-low);
        align-self: flex-start;
        transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);

        .introduction-card__figure {
            width: 100%;
            aspect-ratio: 16 / 9;
            border-radius: var(--shape-medium);
            object-fit: cover;
            object-position: top;
        }

        .introduction-card__text-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gap-positive-100);
            align-items: flex-start;
        }

        .introduction-card__title {
            font: var(--typography-tablet-heading);
            color: var(--theme-on-surface-shade-2);
        }

        .introduction-card__body {
            width: 100%;
            font: var(--typography-tablet-body);
            color: var(--theme-on-surface);
        }

        .introduction-card__resume-link {
            display: flex;
            gap: var(--gap-positive-200);
            align-items: center;
            justify-content: center;

            .resume-link__icon {
                width: var(--icon-size-small);
                height: var(--icon-size-small);
            }

            .resume-link__label {
                font: var(--typography-tablet-body);
                color: var(--theme-on-surface-shade-1);
            }
        }

        &:hover {
            width: 360px;
            box-shadow: var(--elevation-high);
        }
    }
}

@media (max-width: 640px) {
    .introduction-card {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--gap-positive-400);
        align-items: flex-end;
        padding: var(--gap-positive-400);
        overflow: hidden;
        border-radius: var(--shape-large);
        background-color: var(--theme-surface-tint-2);
        box-shadow: var(--elevation-low);
        z-index: 0;
        transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);

        .introduction-card__figure {
            width: 100%;
            aspect-ratio: 16 / 9;
            border-radius: var(--shape-medium);
            object-fit: cover;
            object-position: top;
        }

        .introduction-card__text-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gap-positive-200);
            align-items: flex-start;
        }

        .introduction-card__title {
            font: var(--typography-mobile-heading);
            color: var(--theme-on-surface-shade-2);
        }

        .introduction-card__body {
            width: 100%;
            font: var(--typography-mobile-body);
            color: var(--theme-on-surface);
        }

        .introduction-card__resume-link {
            display: flex;
            gap: var(--gap-positive-200);
            align-items: center;
            justify-content: center;

            .resume-link__icon {
                width: var(--icon-size-extra-small);
                height: var(--icon-size-extra-small);
            }

            .resume-link__label {
                font: var(--typography-mobile-body);
                color: var(--theme-on-surface-shade-1);
            }
        }

        &:hover {
            scale: 1.2;
            box-shadow: var(--elevation-high);
            z-index: 1;
        }
    }
}