* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

.no-scroll {
    overflow: hidden;
}

body {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--theme-surface);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

@media (min-width: 1025px) {
    body {
        padding-top: var(--gap-positive-4000);
        gap: var(--gap-positive-2400);
    }

    main {
        gap: var(--gap-positive-2400);
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    body {
        padding-top: var(--gap-positive-2400);
        gap: var(--gap-positive-1600);
    }

    main {
        gap: var(--gap-positive-1600);
    }
}

@media (max-width: 640px) {
    body {
        padding-top: var(--gap-positive-2400);
        gap: var(--gap-positive-1200);
    }

    main {
        gap: var(--gap-positive-1600);
    }
}
