@font-face {
    font-family: IBMPlexSans-Regular;
    src: url(../res/fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: IBMPlexSans-Medium;
    src: url(../res/fonts/IBMPlexSans-Medium.ttf);
}

@font-face {
    font-family: IBMPlexSans-SemiBold;
    src: url(../res/fonts/IBMPlexSans-SemiBold.ttf);
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
    .no-scroll {
        overflow: hidden;
    }

    html {
        scroll-behavior: smooth;
    }

    @keyframes move-to-top {
        from {
            top: 0;
        }

        to {
            top: -150%;
        }
    }

    @keyframes graffiti-appearance {
        30% {
            transform: scale(1.2);
        }

        40%,
        60% {
            transform: rotate(-20deg) scale(1.2);
        }

        50% {
            transform: rotate(20deg) scale(1.2);
        }

        70% {
            transform: rotate(0deg) scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes float-in-down {
        0% {
            transform: translateY(-20%);
            opacity: 0.5;
            z-index: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
            z-index: 0;
        }
    }

    @keyframes float-in-up {
        from {
            transform: translateY(20%);
            opacity: 0.5;
            z-index: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
            z-index: 0;
        }
    }

    @keyframes piston-animation {
        0% {
            padding-bottom: 24px;
            padding-top: 0px;
        }

        50% {
            padding-bottom: 0px;
            padding-top: 24px;
        }

        100% {
            padding-bottom: 24px;
            padding-top: 0px;
        }
    }

    @keyframes slide-in-left {
        from {
            transform: translateX(-20%);
            z-index: 0;
        }

        to {
            transform: translate(0);
            z-index: 0;
        }
    }

    @keyframes slide-in-right {
        from {
            transform: translateX(20%);
            z-index: 0;
        }

        to {
            transform: translateX(0);
            z-index: 0;
        }
    }

    @keyframes spin {
        from {
            rotate: 0;
        }

        to {
            rotate: 360deg;
        }
    }

    @keyframes shine {
        0% {
            left: -25%;
        }

        10% {
            left: 125%;
        }

        100% {
            left: 125%;
        }
    }

    .shine {
        width: 200px;
        height: 150%;
        top: -25%;
        position: absolute;
        background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.4), transparent);
        animation: shine 4s linear infinite;
        z-index: 1;
    }

    #transition-layer {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f9f9ff;
        box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
        animation: move-to-top 1500ms ease-out forwards 1200ms;
        z-index: 4;
    }

    #transition-layer > img {
        width: 400px;
        height: 54px;
        animation: graffiti-appearance 1000ms ease-out forwards 100ms;
    }

    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 80px;
        align-items: center;
        justify-content: flex-start;
        background-color: #f9f9ff;
    }

    header {
        position: fixed;
        margin: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        height: auto;
        padding: 20px 40px;
        align-items: center;
        justify-content: space-between;
        background-color: #f9f9ff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        transition: 500ms;
        z-index: 2;
    }

    header > a {
        width: 48px;
        height: 48px;
    }

    header > a > img {
        width: 48px;
        height: 48px;
    }

    header > #open-drawer-menu {
        width: 48px;
        height: 48px;
        background-color: transparent;
        padding: 0;
        border: 0;
        cursor: pointer;
    }

    header > nav {
        display: none;
    }

    #drawer-menu {
        position: fixed;
        left: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f9f9ff;
        box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
        transition: 350ms;
        overflow: scroll;
        z-index: 3;
    }

    #drawer-menu > #close-drawer-menu {
        width: 48px;
        height: 48px;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    #drawer-menu > nav {
        align-self: stretch;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
    }

    #drawer-menu > nav > .title {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 60px;
        font-family: "IBMPlexSans-Regular";
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
        text-align: left;
        color: #44474f;
    }

    #drawer-menu > nav > .divider {
        align-self: stretch;
        height: 1px;
        padding: 0px;
        margin: 0px;
        background-color: #74777f;
    }

    #drawer-menu > nav > .sections {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }

    #drawer-menu > nav > .sections > section {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 24px 60px;
        font-family: "IBMPlexSans-Regular";
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0;
        text-align: center;
        color: #1a1b20;
        transition: 300ms ease-out;
        cursor: pointer;
    }

    #drawer-menu > nav > .sections > section:hover {
        padding-left: 80px;
        padding-right: 40px;
        color: rgba(26, 27, 32, 0.16);
    }

    #drawer-menu > nav > .sections > section:active {
        padding-left: 80px;
        padding-right: 40px;
        color: rgba(26, 27, 32, 0.16);
    }

    #drawer-menu > .social-media-container {
        align-self: stretch;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0px 40px;
    }

    #drawer-menu > .social-media-container > .social-media-button-logo {
        display: none;
    }

    #drawer-menu > .social-media-container > .social-media-button {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        font-family: "IBMPlexSans-Regular";
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
        text-align: center;
        text-decoration: none;
        color: #1a1b20;
        transition: 300ms ease-out;
        animation: slide-in-right 500ms ease-out;
    }

    #drawer-menu > .social-media-container > .social-media-button:hover {
        padding-top: 0;
        padding-bottom: 20px;
        color: rgba(26, 27, 32, 0.16);
    }

    main {
        padding-top: 168px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }

    #personal-statement-container {
        box-sizing: border-box;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
    }

    #personal-statement {
        height: auto;
        border-radius: 32px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 40px 0px;
        background-image: linear-gradient(-45deg, #d8e2ff, #ffdf9e, #d8e2ff);
        border: 1px solid #74777f;
        animation: float-in-up 200ms ease-out;
        position: relative;
        overflow: hidden;
    }

    #personal-statement > .body-container {
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
        animation: float-in-up 500ms ease-out;
    }

    #personal-statement > .body-container > p {
        height: auto;
        padding: 0px;
        margin: 0px;
        font-family: "IBMPlexSans-Regular";
        font-size: 32px;
        line-height: 40px;
        text-align: left;
        color: #001a41;
    }

    #personal-statement > figure {
        height: auto;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        animation: float-in-up 350ms ease-out;
    }

    #personal-statement > figure > img {
        width: 360px;
        height: 360px;
        border-radius: 24px;
        border: 2px solid #74777f;
        object-fit: cover;
        object-position: top center;
    }

    #working-status {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #working-status > .look-at-me {
        width: 48px;
        height: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: piston-animation 1600ms linear infinite;
    }

    #working-status > .look-at-me > img {
        width: 48px;
        height: 48px;
    }

    #working-status > span {
        width: auto;
        height: auto;
        font-family: "IBMPlexSans-Regular";
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0px;
        text-align: center;
        color: #1a1b20;
        animation: float-in-down 200ms ease-out;
    }

    #introduction {
        box-sizing: border-box;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 0px 20px;
    }

    #introduction > .about-me {
        height: auto;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        gap: 28px;
        align-items: center;
        justify-content: center;
        padding: 28px 0px;
        background-image: linear-gradient(-45deg, #ffdad9, #ffdf9e);
        border: 1px solid #74777f;
        animation: float-in-up 200ms ease-out;
        position: relative;
        overflow: hidden;
    }

    #introduction > .about-me > figure {
        display: none;
    }

    #introduction > .about-me > .context-container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        padding: 0px 28px;
    }

    #introduction > .about-me > .context-container > .title {
        width: auto;
        height: auto;
        font-family: "IBMPlexSans-Regular";
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0px;
        text-align: center;
        color: #261a00;
        animation: float-in-up 200ms ease-out;
    }

    #introduction > .about-me > .context-container > p {
        padding: 0;
        margin: 0;
        height: auto;
        font-family: "IBMPlexSans-Regular";
        font-size: 24px;
        line-height: 32px;
        text-align: left;
        color: #261a00;
        animation: float-in-up 350ms ease-out;
    }

    #introduction > .about-me > .figure-and-sub-introductions {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px;
        padding: 0px 28px;
    }

    #introduction > .about-me > .figure-and-sub-introductions > figure {
        flex: 1;
        min-width: 322px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: slide-in-left 200ms ease-out;
    }

    #introduction > .about-me > .figure-and-sub-introductions > figure > img {
        width: 240px;
        height: 240px;
    }

    #introduction > .about-me > .figure-and-sub-introductions > .sub-introductions-container {
        flex: 1;
        min-width: 324px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    #introduction > .about-me > .figure-and-sub-introductions > .sub-introductions-container > .sub-introduction {
        height: auto;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        padding: 16px;
        background-color: #ededf4;
        border: 1px solid #74777f;
        animation: slide-in-right 350ms ease-out;
    }

    #introduction
        > .about-me
        > .figure-and-sub-introductions
        > .sub-introductions-container
        > .sub-introduction
        > .title {
        width: auto;
        height: auto;
        font-family: "IBMPlexSans-Regular";
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
        text-align: center;
        color: #1a1b20;
    }

    #introduction > .about-me > .figure-and-sub-introductions > .sub-introductions-container > .sub-introduction > p {
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
        font-family: "IBMPlexSans-Regular";
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        text-align: left;
        color: #1a1b20;
    }

    #introduction
        > .about-me
        > .figure-and-sub-introductions
        > .sub-introductions-container
        > .sub-introduction
        > .cta-container {
        height: auto;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 4px;
    }

    #introduction
        > .about-me
        > .figure-and-sub-introductions
        > .sub-introductions-container
        > .sub-introduction
        > .cta-container
        > .cta {
        width: auto;
        height: auto;
        font-family: "IBMPlexSans-Medium";
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-align: end;
        color: #39693c;
        text-decoration: none;
    }

    #introduction
        > .about-me
        > .figure-and-sub-introductions
        > .sub-introductions-container
        > .sub-introduction
        > .cta-container
        > .cta:hover {
        text-decoration: underline;
    }

    #introduction > .sub-introductions-container {
        display: none;
    }

    #recent-project-container {
        align-self: stretch;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;
        padding: 0px 36px;
    }

    #recent-project-container > .title {
        height: auto;
        font-family: "IBMPlexSans-Regular";
        font-size: 24px;
        line-height: 32px;
        color: #44474f;
        animation: slide-in-left 200ms ease-out;
    }

    #recent-project-container > .projects {
        align-self: stretch;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #recent-project-container > .projects > .project-2 {
        display: none;
    }

    #recent-project-container > .projects > .project {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 32px;
        border-top: 1px solid #74777f;
        border-bottom: 1px solid #74777f;
        transition: 300ms ease-out;
        text-decoration: none;
    }

    #recent-project-container > .projects > .project:hover {
        padding-left: 32px;
        padding-right: 0px;
    }

    #recent-project-container > .projects > .project > .name {
        width: auto;
        height: auto;
        font-family: "IBMPlexSans-Regular";
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0px;
        text-align: left;
        color: #1a1b20;
        animation: slide-in-left 200ms ease-out;
    }

    #recent-project-container > .projects > .project > .category {
        width: auto;
        height: auto;
        font-family: "IBMPlexSans-Regular";
        font-size: 28px;
        line-height: 36px;
        text-align: left;
        color: #1a1b20;
        animation: slide-in-left 350ms ease-in-out;
    }

    #recent-project-container > .projects > .project:hover > .name {
        color: rgba(26, 27, 32, 0.16);
    }

    #recent-project-container > .projects > .project:hover > .category {
        color: rgba(26, 27, 32, 0.16);
    }

    #joining-team-request-container {
        align-self: stretch;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 96px 0px;
        background-color: #baf0b7;
    }

    #joining-team-request-container > .figure-container {
        flex: 1;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    #joining-team-request-container > .figure-container > figure {
        width: 240px;
        height: 240px;
        border-radius: 120px;
        padding: 0;
        margin: 0;
        position: relative;
        overflow: hidden;
    }

    #joining-team-request-container > .figure-container > figure > .foreground {
        width: 240px;
        height: 240px;
        position: absolute;
        animation: spin 20s linear infinite;
        z-index: 1;
    }

    #joining-team-request-container > .figure-container > figure > #animated-android-logo {
        width: 164px;
        height: 240px;
        position: absolute;
        top: 0px;
        left: 37px;
        z-index: 0;
    }

    #joining-team-request-container > .body-container {
        flex: 1;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 28px;
        padding-left: 20px;
    }

    #joining-team-request-container > .body-container > .title {
        height: auto;
        font-family: "IBMPlexSans-SemiBold";
        font-size: 32px;
        line-height: auto;
        letter-spacing: 0;
        text-align: left;
        text-wrap: wrap;
        color: #002106;
        animation: slide-in-right 200ms ease-out;
    }

    #joining-team-request-container > .body-container > .buttons {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 28px;
        column-gap: 16px;
    }

    #joining-team-request-container > .body-container > .buttons > .button {
        display: none;
    }

    #joining-team-request-container > .body-container > .buttons > .logo-button {
        width: 48px;
        height: 48px;
        padding: 0;
        margin: 0;
        animation: slide-in-right 350ms ease-out;
    }

    #joining-team-request-container > .body-container > .buttons > .logo-button path[fill="#1A1B20"] {
        transition: 300ms;
    }

    #joining-team-request-container > .body-container > .buttons > .logo-button:hover path[fill="#1A1B20"] {
        fill: #44474f;
    }

    footer {
        align-self: stretch;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 48px;
        padding-top: 28px;
        padding-bottom: 16px;
        background-color: #e2e2e9;
    }

    footer > .social-media-container {
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    footer > .social-media-container > span {
        width: auto;
        height: auto;
        font-family: "IBMPlexSans-Medium";
        font-size: 32px;
        line-height: auto;
        text-align: left;
        color: #1a1b20;
        animation: slide-in-left 200ms ease-out;
    }

    footer > .social-media-container > .social-media {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 28px;
    }

    footer > .social-media-container > .social-media > .social-media-button {
        display: none;
    }

    footer > .social-media-container > .social-media > .social-media-button-logo {
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        text-decoration: none;
        animation: slide-in-right 350ms ease-out;
    }

    footer > .social-media-container > .social-media > .social-media-button-logo path[fill="#1A1B20"] {
        transition: 300ms;
    }

    footer > .social-media-container > .social-media > .social-media-button-logo:hover path[fill="#1A1B20"] {
        fill: #44474f;
    }

    footer > .version {
        font-family: "IBMPlexSans-SemiBold";
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        text-align: center;
        color: #1a1b20;
    }
}
